# CUDA toolkit installation path
CUDA_DIR = /usr/local/cuda

# CUDA toolkit libraries
CUDA_LIB_DIR := $(CUDA_DIR)/lib
ifeq ($(shell uname -m), x86_64)
     ifeq ($(shell if test -d $(CUDA_DIR)/lib64; then echo T; else echo F; fi), T)
     	CUDA_LIB_DIR := $(CUDA_DIR)/lib64
     endif
endif

# CUDA SDK installation path
SDK_DIR = /usr/local/cuda/samples/

# OPENCL

# NVIDIA_DIR
NV_OPENCL_DIR =/usr/local/cuda
NV_OPENCL_INC = $(NV_OPENCL_DIR)/include
NV_OPENCL_LIB = $(NV_OPENCL_DIR)/lib64

# INTEL_DIR
INTEL_OPENCL_DIR = /opt/intel/opencl
INTEL_OPENCL_INC = $(INTEL_OPENCL_DIR)/include
INTEL_OPENCL_LIB = $(INTEL_OPENCL_DIR)

# AMD_DIR
# OPENCL_DIR = /usr/local/cuda
# OPENCL_INC = $(OPENCL_DIR)/include/ 
# OPENCL_LIB = $(OPENCL_DIR)/lib/x86_64/ -lOpenCL
#ifeq ($(shell uname -m), x86_64)
#     ifeq ($(shell if test -d $(OPENCL_DIR)/lib/x86_64/; then echo T; else echo F; fi), T)
#     	OPENCL_LIB = $(OPENCL_DIR)/lib/x86_64/
#     endif
#endif

# DEFAULT OCL
OPENCL_DIR = $(NV_OPENCL_DIR)
OPENCL_INC = $(NV_OPENCL_INC)
OPENCL_LIB = $(NV_OPENCL_LIB)
